@use "sass:color";
@use "/src/styles/params.scss";

.button {
  border-radius: 8px;
  padding: 8px 12px;
  &Primary {
    background-color: params.$primary;
    color: color.scale(params.$primary, $lightness: -70%);
    &:hover {
      background-color: color.scale(params.$primary, $lightness: 20%);;
      color: color.scale(params.$primary, $lightness: -50%);
    }
  }
  &Secondary {
    background-color: params.$secondary;
    color: color.scale(params.$secondary, $lightness: -70%);
    &:hover {
      background-color: color.scale(params.$secondary, $lightness: 20%);;
      color: color.scale(params.$secondary, $lightness: -50%);
    }
  }
}
