.container {
  width: 1198px;
  margin: 0 auto
}
.section {
  margin: 20px 0;
  display: flex;
}
 .singleButton {
  margin: 2px;
  display: inline-block;
    &.block {
      width: 170px;
    }
 }

h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: .6em;
}
